.container_fluid{
  margin-top: 0%;
  min-height: 1000px;
}
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.carousel .item
{
  height: 600px;
background-color: #777;
margin-top: 0px;
margin-left: 0%;
margin-right: 0%;

}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  /* Basic card structure */
  border-radius: 6px;
  width: 200px;
  background-color: #fff;
  float:left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional subtle shadow */
  margin-bottom: 20px; /* Add spacing between cards */
}

.card-img-top {
  /* Image styles */
  max-width: 100%; /* Ensure image scales proportionally within card */
  height: 300px; /* Maintain image aspect ratio */
  display: block;
  border-top-left-radius: 6px; /* Match card border radius */
  border-top-right-radius: 6px; /* Match card border radius */
}

.card-body {
  /* Content area styles */
  padding: 15px; /* Add padding for content */
  background-color: rgb(249, 252, 252);
}

.card-title {
  /* Title styles */
  margin-bottom: 10px; /* Add spacing below title */
}

.card-text {
  /* Description text styles */
  font-size: 14px; /* Adjust font size as needed */
  color: #333; /* Define text color */
  
}

.card input[type="number"] {
  /* Quantity input styles */
  width: 100px; /* Set appropriate width */
  padding: 5px; /* Add padding for usability */
  border: 1px solid #08719b; /* Basic border */
  border-radius: 3px; /* Rounded corners */
  margin-bottom: 10px; /* Add spacing below input */
}

.card input[type="hidden"] {
  /* Hidden input styles (optional) */
  display: none; /* Hide these inputs visually */
}


.btn {
    padding: 8px 12px;
  background-color: #3700ff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: #0056b3;
}

.carousel img {
  object-fit:calc(100%);
  max-width: 100%;
  max-height: 100%;
 
}





.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 10;
  margin: 0%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
  margin: auto;

}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .card{
    height: 100%;
    width: 100%;
    display: inline;
  }
}